
 <%- include('../partials/head.ejs') %>
 
 <%- include('../partials/nav.ejs') %>

 <div class="divider"></div>
      
      

     <a href="/admin/products"><i class="fas fa-angle-double-left"></i>All Products</a>
     <form action="/api/products" method="post" class="loginForm" enctype="multipart/form-data" id="createProduct">
     
     
        <label for="title">title</label>     
        <input type="text" style="color: aliceblue; background-color: black;" name="title" id="title" >
             
 
        <label for="description">description</label>
             <input type="text" style="color: aliceblue;background-color: black;" name="description" id="description" > 
            
             <label for="price">price</label>
             <input type="number" step="0.01" style="color: aliceblue;background-color: black;" name="price" id="price" > 
            

             <label for="description">Category</label>
             <select name="category" id="category" style="margin-bottom: 40px; width: 100%; height: 40px;">
                <% for (var i=0 ; i< categories.length;++i){%>
                 <option value="<%= categories[i].title %>"><%= categories[i].title %></option>
                 
                 <% } %>
             </select>

             <input type="file" name="image" id="image" >
             <img src="#"  id="imgpreview" alt="" >
    
     
         <input type="submit" value="Save" class="btn">
         <a href="/" class="btn orange">Cancel</a>
   
     
     </form>

  

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="/main.js"></script>