
 <%- include('./partials/head.ejs') %>
 
 <%- include('./partials/nav.ejs') %>
 <hr>


 <div class="about-us">
     <h2>About US</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt libero aut mollitia ipsam ducimus eius alias beatae nihil sequi, velit in molestiae provident culpa fugiat omnis similique reprehenderit repellat?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati numquam aut deserunt doloremque odit quas fuga, eum architecto libero ipsam reprehenderit recusandae unde, esse corporis dolores culpa quam veritatis doloribus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores molestiae ipsum obcaecati! Nulla, voluptatum! Id at dolor quas magnam architecto consectetur vel eveniet, voluptates aperiam quam voluptatum nemo nobis ullam.</p>   
         </div>
