
 <%- include('./partials/head.ejs') %>
 
    <%- include('./partials/nav.ejs') %>
    <hr>
<div style="width: 100%; text-align: center;">
    <a href="/new_product"><img src="Images/Home-page.jpg" alt=""></a>
</div>

<section id="Project">
    <div class="Img_project">
 
  
    <div class="carItem " style="flex-basis:300px">
  <a href="/product/for-her">
  <img src="Images/for-he.jpg" class="img-fluid">
  <div class="Car-overlay">
    <div class="car-info">
  <h1>For Her</h1>
  <h4>Click to Know more!</h4>
    </div>
  </div>
  </a>
    </div>
    

  <div class="carItem " style="flex-basis: 630px">
  <a href="/product/posters">
  <img src="Images/posters.jpg" class="img-fluid">
  <div class="Car-overlay">
  <div class="car-info">
  <h1>Posters</h1>
  <h4>Click to Know more!</h4>
  </div>
  </div>
  </a>
  </div>

  <div class="carItem " style="flex-basis:300px">
    <a href="/product/For_him">
    <img src="Images/for-him.jpg" class="img-fluid">
    <div class="Car-overlay">
      <div class="car-info">
    <h1>For Him</h1>
    <h4>Click to Know more!</h4>
      </div>
    </div>
    </a>
      </div>
  
 



    </div>
    <div class="overlay"></div>
  </section>


 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"></script>
     <script src="/main.js"></script>
</body>
</html>