<%- include('./partials/head.ejs') %>
 
<%- include('./partials/nav.ejs') %>
<hr>

<div class="product_cont">
<div class="ProductList">
    
    <a href=""><p>All Product</p></a>
    <a href=""><p>Posters</p></a>
    <a href=""><p>222</p></a>
    <a href=""><p>222</p></a>

</div>
<div class="showProduct">

    <a href=""><p>All Product</p></a>
    <a href=""><p>Posters</p></a>
    <a href=""><p>222</p></a>
    <a href=""><p>222</p></a>
</div>
</div>