.loginForm{

    width: 400Px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 1px 2px 3px black;
    background-color:black;
    color: white;
  }
  .loginForm input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid white;
    font-size: 1em;
    width: 100%;
    margin-bottom: 10;
  }
  
  .loginForm label{
    display: block;
    margin: 20px 0 10px ;
  }

  .alert-warning{
    color: red;
    font-size: 18px;text-align: center;
    margin-bottom: 10px;
  }
.product_cont{
  margin: 20px 30px;
display: flex;
flex-direction:row

  
}
.Product_Img{
  width: 150px;
  height: 150px;
}

.ProductList ul li{
  
  border: solid 1px black;
  width: 150px;
  font-weight: bold;
  padding: 5px;
text-align: center;  
}
.Product-desplay {
  margin-left: 100px;
  margin-bottom: 20px;
  display: inline-block
}

.Product-desplay li{
  list-style:none;
}
  .loginForm button{
    font-size: 1.3em;
    margin-top: 30px;
    border-radius: 17px;
    background: #fee996;
    border:0;
  }
  .loginForm button:hover{
    background-color: #02ABB0;
  }
ul
{
  margin-left: auto;
  list-style: none; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    
}
.navbar a {
    text-decoration: none;
}
/* .container{
    margin: 24px 30px;
} */
.navbar p{
    color: white;
}
.navbar .navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-link{
    
  font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5;
    margin-left: 45px;
    
  }
.navbar .navbar-nav .nav-link:hover{
background: transparent;
color : goldenrod;
}
.navbar .navbar-nav .nav-link::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
 
}

#Project{
    background: #fff;
   
    align-items: center;
    position: relative;
    padding: 20px 30px;
   

  }
  
  .Img_project{
    display:flex;
    flex-wrap: wrap;
  
    
    

  }
  #Project .carItem{
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    margin-left: 45px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
      z-index: 99;
  }
  #Project .carItem .Car-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all ease-in-out 0.4s;
  }
  
  #Project .carItem:hover .Car-overlay{
    opacity: 1;
  }
  
  #Project .carItem .Car-overlay .car-info{
    padding: 12em 0;
  }
  .carItem img{
    transition: all ease-in-out 0.4s;
    height: 300px;
      z-index: 99;
  }
  .carItem:hover img{
    transform:  scale(1.1);
  }
  .car-info h1{
  font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }
  .car-info h4{
    font-size: 12px;
    color: #02ABB0;
  
  }
  
  #Project .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  }

  .table{
    margin-top: 20px;
    border-spacing: Opx;
    width: 100%;
    color: black;
    background-color: bisque;

}
.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);

}
.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em ;
    
}
.form-row{
  display: flex;
  width: 100%;

}
.form-row .form-control{
  width: 400px;
  margin-left: 35px;
}
.form-gr .form-control{
  width: 820px;
}
#contact {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding: 20px 25px;
  background: url(/Images/Talk.png) 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#contact .form-control{
  box-shadow: none;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 22px;
}
#contact .form-control:focus{
  border-color: #d9d9d9;
}
#contact input{
  height: 55px;
  line-height: 45px;
}
#contact  a{
  font-size: 1.8em;
  margin-top: 30px;
  border-radius: 12px;
  background: #fee996;
  border:0;
}
#contact a:hover{
  background-color: #02ABB0;
}
a{
  text-decoration: none;

}
.about-us{
  padding: 20px 35px ;
  width : 60%;
  margin: 0 auto;
  text-align: center;
}
input{

    display: inline;
 
 }

.table td > a.delete:hover{
    background-color: red;
}

.table td > a.btn:hover{
    box-shadow: none;
}
.table tr:hover{
    background-color: rgb(139, 139, 139);
}

.table .thead th{
color: black;
background-color: white;
border-color: #32383e;
}

@media only screen and (max-width:1024px){
    table, thead, tbody, th ,td ,tr {
        display: block;
    }
    thead tr{
        position:absolute;
        top: -9999px;
        left: -9999px;

    }
    tr{
        border: 0.5px solid ;
    }
    td{
        border-bottom: 0.5px solid ;
        position: relative;
    }
}

#imgpreview{
  margin: 20px;
}